<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>


</head>
<body>

    <form class="layui-form">
        <div class="layui-form-item">
<!--            <label class="layui-form-label">用户名</label>-->
            <div class="layui-input-block">
                <input type="text" name="username" required  lay-verify="required" placeholder="用户名" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
<!--            <label class="layui-form-label">密码</label>-->
            <div class="layui-input-inline">
                <input type="password" name="password" required lay-verify="required" placeholder="密码" autocomplete="off" class="layui-input">
            </div>
        </div>

    </form>


</body>
</html>