<!DOCTYPE html>
<!--脚本解析引入-->
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is test HTML</title>

    <script src="jquery-3.5.1.min.js"></script>
    <script src="../static/js/video_play.js"></script>
</head>
<body>

<input type="hidden" th:value="${f_path}" id="f_path"/>
<input type="hidden" value="video_play" id="file_name">

<div id="videoDiv" style="width: 100%;height: 100%;">
    <div style="text-align:left;width: 100%;height: 100%;">
        <video width="100%" height="100%" controls autoplay>
            <source th:src="${f_path}" type="video/mp4">
            您的浏览器不支持 video 属性。
        </video>
    </div>

</div>

</body>
</html>


